.sign-container {
  padding: 75px 0;

  .title {
    margin-top: 50px;
  }

  form {
    display: flex;
    align-items: center;
    flex-direction: column;

    width: 100%;
    padding-top: 10px;

    .MuiTextField-root, p {
      margin: 9px 0;
    }

    p {
      cursor: pointer;
    }

    .MuiButton-root {
      width: 175px;
      max-width: 100%;
      height: min-content;
      min-height: 45px;
      margin-top: 9px;

      color: $color-white;
      font-size: 16px;
      font-weight: bold;
      box-shadow: none;
      border-radius: 22.5px;
      text-transform: none;
      background-color: $color-gray;
    }

    .MuiFormLabel-root.Mui-focused {
      color: $color-gray;
    }

    .MuiInputBase-input {
      padding: 11px 20px;
    }

    .MuiInput-underline:not(.Mui-error),
    .MuiInput-underline:not(.Mui-error)::before,
    .MuiInput-underline:not(.Mui-error)::after,
    .MuiInput-underline.MuiFocused {
      border-color: $color-gray!important;
    }
  }

  .divider {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(100% - 72px);
    margin: 40px 36px;

    div {
      position: absolute;
      width: 100%;
      height: 1px;
      margin-top: -1px;
      background-color: $color-light-gray;
    }

    span {
      padding: 0 18px;
      background-color: $color-white;
      z-index: 1;
    }
  }

  .MuiButton-root.google {
    width: 263px;
    max-width: 100%;
    height: min-content;
    min-height: 45px;
    margin-bottom: 50px;

    color: $color-black;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    border-radius: 22.5px;
    text-transform: none;
    background-color: $color-white;
  }

  .to-sign-up {
    padding: 0;

    color: $color-primary;
    border: none;
    cursor: pointer;
    outline: none;
    background: none;
    text-decoration: underline;
  }

  .already {
    margin-top: 20px;
  }
}

.invision-logo {
  position: absolute;
  top: 120px;
  right: 124px;
}

@media (max-width: 1280px) {
  .invision-logo {
    top: 20px;
    right: 24px;
  }
}