.carousel {
  position: relative;
  height: 100vh;

  background: $color-primary;

  .item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    img {
      height: 555px;
      height: 705px;
      max-height: 50vh;
      max-width: 100%;
      margin-bottom: 20px;
      object-fit: contain;
    }

    p, h1 {
      text-align: center;
      max-width: 60%;
      margin: 10px 0;
    }
  }

  .custom-dots {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    bottom: 112px;

    li {
      list-style-type: none;
      margin: 0 6px;

      button {
        height: 12px;
        width: 12px;

        color: transparent;
        border: none;
        outline: none;
        opacity: 0.5;
        transition: .5s;
        border-radius: 6px;
        background-color: $color-white;
      }

      &.slick-active button {
        opacity: 1;
        width: 26px;
      }
    }
  }
}